.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 30px 0px;
  background: rgba(255, 255, 255, 0.33);
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px; */
  backdrop-filter: blur(5.1px);
  border-bottom: 3px solid black;
}

.nav-item a {
  text-decoration: none;
  color: #0d0c0c;
  transition: all 0.25s ease 0s;
  /* font-weight: 500; */
  padding: 17px 20px;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
}
.nav-item a:hover {
  border-bottom: 4px solid #0d0c0c;
}
.active {
  border-bottom: 4px solid #0d0c0c;
}
