body{ 
  margin:0; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  margin:0 auto;
  width:100%;
  height:auto;
  display:inline-block;
  background:black;
  margin-bottom: 20px;
}

nav ul {
  margin:0;
  padding:0;
  list-style-type:none;
  display:inline-block;
}

nav ul li {
  position:relative;
  margin:0 20px 0 0;
  display:inline-block;
}
nav ul li a {
  padding:20px;
  font-size: 20px;
  display:inline-block;
  color:white;
  text-decoration:none;
}
nav ul li ul {
  display:none;
  position:absolute;
  left:0;
  /* background:#37bc9b; */
  /* background: cornflowerblue ;*/
  background: black;
}

nav ul li ul li {
  width:100%;
  border-bottom:1px solid rgba(255,255,255,.3);
  z-index: 99;
}

nav ul li:hover ul {
  display:block;
}
  

nav button {

  width: 120px;
  position: absolute;
  right: 3%;
  top:10px;
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: black;
  
  
}
nav button a {
  /* color: #37bc9b; */
  /* color: cornflowerblue; */
  color: black;
  text-decoration: none;
}
